<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <title>{{ SITENAME }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <link rel="stylesheet" href="{{ path_to_root }}assets/css/main.css" />
    <noscript><link rel="stylesheet" href="{{ path_to_root }}assets/css/noscript.css" /></noscript>
</head>
<body id="index" class="is-preload">

    <div id="wrapper">

            <header id="header">
                <div class="logo">
                    <a href="{{ SITEURL }}/"><span class="icon fa-gem"></span></a>
                </div>
                <div class="content">
                    <div class="inner">
                        <h1><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></h1>
                        {% if page.subtitle %}<h2><strong>{{ page.subtitle }}</strong></h2>{% endif %}
                        {% if page.content %}<p>{{ page.content }}</p>{% endif %}
                    </div>
                </div>
                <nav>
                    <ul>
                        {% for index_page in local_indexes %}
                        <li><a href="{{ SITEURL }}/{{ index_page.url }}">{{ index_page.title }}</a></li>
                        {% endfor %}
                        {% for local_page in local_pages %}
                        <li><a href="{{ SITEURL }}/{{ local_page.relative_dir }}/#{{ local_page.slug }}">{{ local_page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>

            {% if ( articles or local_indexes ) and not page.hide_articles %}
            <div id="article-menu">
                <div class="articles-header">
                    <h2>{% if articles_header is defined %}{{ articles_header }}{% endif %}</h2>
                </div>
                <div class="content">
                    <nav class="inner">
                        <ul>
                            {% for article in articles %}
                            <li><a href="#{{ article.slug }}">{{ article.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}

            {% if articles or local_pages %}
            <div id="main">
                {% for article in articles %}
                <article id="{{ article.slug }}">
                    <h2 class="major">{{ article.title }}</h2>
                    <h5>{{ article.date.strftime(DEFAULT_DATE_FORMAT) }}</h5>
                    {% if article.header_img %}<span class="image main"><img src="{{ article.header_img[0] }}" alt="{{ article.header_img[1] }}" /></span>{% endif %}
                    <p>{{ article.content }}</p>
                </article>
                {% endfor %}
                {% for local_page in local_pages %}
                <article id="{{ local_page.slug }}">
                    <h2 class="major">{{ local_page.title }}</h2>
                    {% if local_page.header_img %}<span class="image main"><img src="{{ local_page.header_img[0] }}" alt="{{ local_page.header_img[1] }}" /></span>{% endif %}
                    <p>{{ local_page.content }}</p>
                </article>
                {% endfor %}
            </div>
            {% endif %}

            <footer id="footer">
                <p class="copyright">&copy; {{ FIRST_YEAR }}-{{ END_YEAR }} {{ AUTHOR }}. Powered by <a href="https://getpelican.com/">Pelican</a>,</p>
                <p class="copyright"><a href="https://www.python.org/">Python</a> and <a href="https://html5up.net/dimension">Dimension</a> from <a href="https://html5up.net">HTML5 UP</a>.</p>
                {% if GITHUB_REPO_URL is defined %}<p class="copyright">The code for this website can be found on <a href="https://getpelican.com/">Github</a>.</p>{% endif %}
            </footer>

    </div>

    <div id="bg"></div>

    <script src="{{ path_to_root }}assets/js/jquery.min.js"></script>
    <script src="{{ path_to_root }}assets/js/browser.min.js"></script>
    <script src="{{ path_to_root }}assets/js/breakpoints.min.js"></script>
    <script src="{{ path_to_root }}assets/js/util.js"></script>
    <script src="{{ path_to_root }}assets/js/main.js"></script>
</body>
</html>