{% macro post_header(title, summary='', date=None) -%}
<header class="major">
	{% if date %}
	<span class="date">{{ date.strftime("%b %d %Y") }}</span>
	{% else %}
	<span class="date">•••</span>
	{% endif %}
	<h1>{{ title }}</h1>
	{% if summary %}<p>{{ summary }}</p>{% endif %}
</header>
{%- endmacro %}

{% macro post_preview(article_obj, featured=False) -%}
<article{% if featured %} class="post featured"{% endif %}>
	<header{% if featured %} class="major"{% endif %}>
		<span class="date">{{ article_obj.date.strftime("%b %d %Y") }}</span>
		<h2><a href="{{ SITEURL }}/{{ article_obj.url }}">{{ article_obj.title }}</a></h2>
		{% if featured %}<p>{{ article_obj.summary }}</p>{% endif %}
	</header>
	{% if article_obj.mainimage %}
	<a href="{{ SITEURL }}/{{ article_obj.url }}" class="image {% if featured %}main{% else %}fit{% endif %}"><img src="{{ SITEURL }}/{{ article_obj.mainimage }}" alt="" /></a>
	{% endif %}
	{% if not featured %}<p>{{ article_obj.summary }}</p>{% endif %}
	<ul class="actions special">
		<li><a href="{{ SITEURL }}/{{ article_obj.url }}" class="button{% if featured %} large{% endif %}">Full Story</a></li>
	</ul>
</article>
{%- endmacro %}

{% macro posts(article_list=[]) -%}
<!-- Posts -->
	<section class="posts">
		{% for article_obj in article_list %}
		{{ post_preview(article_obj) }}
		{% endfor %}
	</section>
{%- endmacro %}

{% macro paginator() -%}
    <!-- Footer -->
        <!-- <footer>
            <div class="pagination">
                <a href="#" class="previous">Prev</a>
                <a href="#" class="page active">1</a>
                <a href="#" class="page">2</a>
                <a href="#" class="page">3</a>
                <span class="extra">&hellip;</span>
                <a href="#" class="page">8</a>
                <a href="#" class="page">9</a>
                <a href="#" class="page">10</a>
                <a href="#" class="next">Next</a>
            </div>
        </footer> -->
{%- endmacro %}

<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        {% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ SITEURL }}/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="{{ SITEURL }}/assets/css/noscript.css" /></noscript>
        {% endblock head %}
	</head>
	<body class="is-preload">
        {% block body %}
		<!-- Wrapper -->
			<div id="wrapper"{% if page_name is eq 'index' %} class="fade-in"{% endif %}>

				{% if page_name is eq 'index' %}
				<!-- Intro -->
					<div id="intro">
						<h1>{{ SITENAME }}</h1>
						{% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}</p>{% endif %}
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>
				{% endif %}

				<!-- Header -->
					<header id="header">
						<a href="{{ SITEURL }}/" class="logo">{{ SITENAME }}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							{% for p in [{'title': SITENAME, 'url': "index.html", 'slug': 'index'}] + pages %}
							{% if (page is defined and page.slug is eq p.slug) or (page_name is eq p.slug) %}
							<li class="active"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
							{% else %}
							<li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
							{% endif %}
							{% endfor %}
						</ul>
						{% if SOCIAL %}
						<ul class="icons">
						{% set social_icons = {'twitter': 'icon brands fa-twitter',
											   'facebook': 'icon brands fa-facebook-f',
											   'instagram': 'icon brands fa-instagram',
											   'github': 'icon brands fa-github'
											}
						%}
						{% for platform, url in SOCIAL %}
							<li><a href="{{ SITEURL }}/{{ url }}" class="{{ social_icons.get(platform) }}"><span class="label">{{ platform|capitalize }}</span></a></li>
						{% endfor %}
						</ul>
						{% endif %}
					</nav>

                {% block content %}
                {% endblock %}

				<!-- Footer -->
					<!-- <footer id="footer">
						<section>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>1234 Somewhere Road #87257<br />
								Nashville, TN 00000-0000</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">(000) 000-0000</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">info@untitled.tld</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer> -->

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; {{ AUTHOR }}</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{{ SITEURL }}/assets/js/jquery.min.js"></script>
			<script src="{{ SITEURL }}/assets/js/jquery.scrollex.min.js"></script>
			<script src="{{ SITEURL }}/assets/js/jquery.scrolly.min.js"></script>
			<script src="{{ SITEURL }}/assets/js/browser.min.js"></script>
			<script src="{{ SITEURL }}/assets/js/breakpoints.min.js"></script>
			<script src="{{ SITEURL }}/assets/js/util.js"></script>
			<script src="{{ SITEURL }}/assets/js/main.js"></script>
        {% endblock body %}
	</body>
</html>